// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */
#contentColumn{
    position:absolute;
    top:130px;
    width:1050px;
    right:0;
    left:0;
    margin:0 auto;
    height:100%;
//    background-color:gray;
}

.icon_show img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 3px white;
}

.unlike-btn{
    color:#8899a6;
}

.like-btn{
    color:#ff2581;
}


/* timeline */
.TLperson{
    float:left;
    width: 100%;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color:white;
}

.TLperson-header img{
    width: 100%;
    height: 85px;
}

.TLperson-icon img{
    position: absolute;
    top: 50px;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 3px white;
}

.TLperson-contents{
    position:relative;
    top: 30px;
    left: 10px;
//    background-color: red;
}

.TLperson-name{
    color:black;
    font-size: 19px;
    text-decoration: none;
}
.TLperson-name:hover{
    text-decoration: underline;
}

.TLperson-id{
//    position: absolute;
//    top: 22px;
    left: 0px;
    color: gray;
    font-size: 12px;
    text-decoration: none;
}
.TLperson-id:hover{
    text-decoration: underline;
}

.TLperson-data{
    position: absolute;
    top:40px;
    width:93%;
    height:50px;
//    background-color: red;
//    vertical-align:middle;
    display: flex;
	align-items: center;
}

.TLperson-link{
    padding: 5px 10px;
    text-align:center;
}

.TLperson-link i{
    font-size:18px;
    font-weight: 700;
    color:#3ecdc6;
}

.TLperson-link a{
    position:relative;
    z-index:2;
    font-size:11px;
    color: gray;
    text-decoration: none;
}
.TLperson-link a:hover {
    color:#3ecdc6;
}